@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.authBg{
    background-image: url("../../assets/images/united-states-america-map-with-flag.jpg");
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;


}


.main-font{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo-font{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}